<!doctype html>
<html>
    <head>
        <title>To Do</title>
    </head>
    <body>
        <h1>To Do List</h1>

        <form method="post" action="/add">
            <label for"input-value">What would you like to add to the list?</label>
            <input type="text" id="item" name="item">
            <input type="submit" value="Add Task">
        </form>
        
        <h2>To Do:</h2>
        <ul>
        {{#todos}}
            {{^complete}} 
                    
                <li>
                    {{ name }}
                    <form method="post" action="/complete/{{id}}">
                        <input type="submit" value="Mark Complete" name="submit" id="submit">
                    </form>    

                    <form method="post" action="/update/{{id}}">
                        <input type="text" name="editbox" id="editbox">
                        <input type="submit" value="Edit Task" name="edit" id="edit">
                    </form>     

                    <form method="post" action="/delete/{{id}}">
                        <input type="submit" value="Delete" name="delete" id="delete">
                    </form>                    
                </li>      
            {{/complete}} 
        {{/todos}}
        </ul>

        <h2>Completed:</h2>
        <form method="post" action="/delete">
            <input type="submit" value="Delete All Completed Tasks">
        </form>

        <ul>
        {{#todos}}
            {{#complete}} 
                <li> 
                    {{ name }} 
                    <form method="post" action="/delete/{{id}}">
                        <input type="submit" value="Delete" name="delete" id="delete">
                    </form> 
                </li>
            {{/complete}} 
        {{/todos}}
        </ul>
       
    </body>
</html>